.cursor-pointer {
  cursor: pointer;
}

.none-padding {
  padding: 0px !important;
}

.position-relative {
  position: relative;
}

.sub-title-input {
  font-size: 14px;
  color: gray;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.text-col-gray {
  color: gray;
}
