@import "App.scss";

.header {
  padding: 20px;

  border-bottom: 1px solid $border-color;

  &__icon {
    color: $icon-color;
    font-size: 18px;

    &:hover {
      color: green;
    }
  }

  .calender-icon {
    color: green;
  }

  .badge {
    position: absolute;
    top: -37%;
    right: 66%;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 8px;

    @include mobile {
      top: -40%;
      right: 30%;
    }
  }

  .avatar-circle {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
  }
}
