@import "App.scss";

.profile-wrp {
  margin-top: 50px;
  margin-bottom: 20px;

  .avatar-wrp {
    &:hover .avatar {
      opacity: 0.5;
    }

    &:hover .avatar-icon {
      opacity: 0.7;
    }
  }

  .avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: 0.5s ease;
  }

  .avatar-icon {
    position: absolute;
    left: 40%;
    bottom: 40%;
    font-size: 24px;
    opacity: 0;
    transition: 0.5s ease;
  }

  .info-user-wrp {
    margin-top: 80px;
  }

  .change-password-wrp {
    @include tablet {
      margin-top: 20px;
    }
  }
}
